<form action="/recipes/{{data.[0].id}}?_method=PUT" method="post">
    <label for="">Title</label>
    <input type="text" id="title" name="title" placeholder="i. e. Dope Beer">
    <label for="">Style</label>
    <input type="text" id="style" name="style" placeholder="i. e. AIPA">
    <label for="ingredients">Ingredients</label>
    <textarea type="text" id="ingredients" placeholder="Some malt, some hops..." name="ingredients">
  </textarea>
    <label for="process">Process</label>
    <textarea type="text" id="process" placeholder="Heat up water, add malt..." name="process">
    </textarea>
    <button type="submit" class="left btn btn-primary btn-default">Add Recipe</button>
</form>